<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.webcam.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/webcamera.js' %}"></script>
</head>
<body>
    <div id="webcam">
    </div>
    <div>
        <p>Webcamera</p>
        <img id="img"/>
        <ul id="cams"></ul>
        <input id="save" type="button" value="Save"/>
    </div>
</body>
</html>